@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato;
    color: #fafafa;
    /* background-color: #777777; */ 
    background-color: #666666;
}

/*-------------------------- Header */

.header-banner {
    line-height: 100px;
    font-family: Oswald, sans-serif;
    background-color: #222222;
    overflow: hidden;
    /* padding-right: 20px; */
}

h1 {
    font-family: Oswald;
    letter-spacing: 4px;
    color: #fafafa;
    padding-left: 20px;
}

h2 {
    font-family: Oswald;
    letter-spacing: 3px;
    color: #fafafa;
    padding-left: 2px;
}

#logo {
    float: left;
    font-size: 350%;

}


/*--------------------------- Nav Menu */
.topnav {
    line-height: 30px;
    background-color: #444444;
    overflow: hidden;
    float: right;
    letter-spacing: 3px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 5px;
}

.topnav a {
    float: left;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*active and hover color must be the same per menu item*/
/*HOME*/
#home-menu:hover {
    background-color: #F6BB46;
    color: #444444;
}

.topnav a.home-active {
    background-color: #F6BB46;
    color: #444444;
}

/*OUR CATS*/
#ourcats-menu:hover {
    background-color: #56B9F7;
    color: #444444;
}

.topnav a.ourcats-active {
    background-color: #56B9F7;
    color: #444444;
}

/*ADOPT*/
#adopt-menu:hover {
    background-color: #7BB764;
    color: #444444;
}

.topnav a.adopt-active {
  background-color: #7BB764;
  color: #444444;
}

/*FIND US*/
#findus-menu:hover {
    background-color: #E6C87A;
    color: #444444;
}

.topnav a.findus-active {
    background-color: #E6C87A;
    color: #444444;
}

/* home: Hero image and cover text */

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #0F0E0F;
}

#hero-image { 
    height:600px;
    width: 100%;
    background: url("../images/maincat.jpg") center center/cover no-repeat;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

/* -------------------------- Our Story */

#cover-text-ourstory, #cover-text-ourstory h2 {
    color: #FAC335;
}

#cover-text-ourstory {
    color: #FAC335;
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    top: 100px;
    left: 20px;
    width: 350px;
    height: 350px;
    padding-top: 50px;
    padding-left: 20px;
    position: absolute;
    border-radius: 60px;
}

#our-story-section {
    padding-left: 5%;
    padding-right: 5%;
}

#our-story {
    margin: 20px 0;
    /*   margin: 10px 0;  */
    text-align: center;
    font-size: 200%;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid > div {
    min-width: 100px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

#left-about{
    padding-top: 30px;
    padding-left: 50px;
    float: left;
}

#right-about {
    padding-top: 30px;
}

#center-about {
    padding-top: 30px;
}

.left-about-heading {
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.center-about-heading {
    margin: 0 auto;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
} 

.right-about-heading {
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2,
.right-about-heading h2,
.center-about-heading h2 {
    margin-bottom: 20px;
    padding-left: 0px;
}

/* ------------------------------- our-cats  */

#cover-text-ourcats, #cover-text-ourcats h2 {
    color: #56B9F7;
}

#cover-text-ourcats {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    top: 100px;
    left: 20px;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 50px;
    position: absolute;
    border-radius: 60px;
}

#our-cats{
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 20px;
}

#hero-image-ourcats { 
    height:600px;
    width: 100%;
    background: url("../images/cat-blue.jpg") center center/cover no-repeat;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}



.adopt-us {
    height: 250px;
    width: 250px;
    
  }
  .adopt-me{

  }



.cat-div {
    margin-left: 200px;
    margin-top: 50px;
    width: 720px;
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid #fafafa;
}

.our-cats-key {
    text-align: right;
}

.our-cats-value {
    text-align: left;
}

#our-cats div h3 {
    text-align: left;
}

.our-cats-img {
    width: 700px;
    height: auto;
}

.our-cats-grid-div {
    min-width: 100px;
    padding-left: 70px;
    padding-right: 70px;
}

/* ---------------------- Adopt */

#hero-image-adopt { 
    height:600px;
    width: 100%;
    background: url("../images/cat-green.jpg") center center/cover no-repeat;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.adopt-section {
    clear: left;
    height: 750px;
}

.adopt-form {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fafafa;
    background-color: #222222;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#adopt-form h2 {
    margin-bottom: 20px;;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #7BB764;
}

.adopt-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #7BB764;
    color: #fafafa;
    display: block;
}

.adopt-button:hover {
    background-color:#fafafa;
    color:#7BB764;
}

/* --------------------------- Find Us  */

#hero-image-findus { 
    height:600px;
    width: 100%;
    background: url("../images/findus-hero.jpg") center center/cover no-repeat;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.findus-section {
    text-align: center;
    font-size: 75%;
}


/* ---------------------- Footer */

footer {
    background-color: #0f0f0f;
    text-align: center;
    padding: 3px;
}


.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 2%;
    padding: 4%;
    color: #fafafa;

}

