@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato;
    color: #fafafa;
    background-color: #777777;
}

/*-------------------------- Header */

.header-banner {
    line-height: 100px;
    font-family: Oswald, sans-serif;
    background-color: #222222;
    overflow: hidden;
    padding-right: 20px;
}

h2 {
    font-family: Oswald;
/*    text-transform: uppercase;*/
    letter-spacing: 4px;
    color: #fafafa;
    padding-left: 20px;
}

#logo {
    float: left;
    font-size: 350%;

}


/*--------------------------- Nav Menu */
.topnav {
    line-height: 30px;
    background-color: #444444;
    overflow: hidden;
    float: right;
    letter-spacing: 3px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 0;
}

.topnav a {
    float: left;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*active and hover color must be the same per menu item*/
/*HOME*/
#home-menu:hover {
    background-color: #F6BB46;
    color: #777777;
}

.topnav a.home-active {
    background-color: #F6BB46;
    color: #777777;
}

/*OUR CATS*/
#ourcats-menu:hover {
    background-color: #56B9F7;
    color: #777777;
}

.topnav a.ourcats-active {
    background-color: #56B9F7;
    color: #777777;
}

/*ADOPT*/
#adopt-menu:hover {
    background-color: #7BB764;
    color: #777777;
}

.topnav a.adopt-active {
  background-color: #7BB764;
  color: #777777;
}

/*FIND US*/
#findus-menu:hover {
    background-color: #F2DC6B;
    color: #777777;
}

.topnav a.findus-active {
    background-color: #F2DC6B;
    color: #777777;
}

/* home: Hero image and cover text */

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #0F0E0F;
}

#hero-image { 
    height:600px;
    width: 100%;
    background: url("/assets/images/maincat.jpg") no-repeat center center;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text, #cover-text h2 {
    color: #FAC335;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    top: 100px;
    left: 150px;
    width: 300px;
    height: 300px;

    padding-top: 50px;
    padding-left: 50px;

    background-color: rgba(130,117,43, .5);
    position: absolute;

    border-radius: 60px;

}

/* Our Story */

#our-story-section {
    height: 400px;
}

#our-story {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

/* .our-story-grid-div {
    min-width: 100px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
} */

.grid > div {
    min-width: 100px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

#left-about{
    padding-top: 30px;
    padding-left: 50px;

    float: left;
}

#right-about {
    padding-top: 30px;
}

#center-about {
    padding-top: 30px;
}

.left-about-heading {
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.center-about-heading {
    margin: 0 auto;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;

} 

.right-about-heading {
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2,
.right-about-heading h2,
.center-about-heading h2 {
    margin-bottom: 20px;
    padding-left: 0px;
}

/* ------------------------------- our-cats  */

#our-cats{
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 20px;
}

#hero-image-ourcats { 
    height:600px;
    width: 100%;
    background: url("/assets/images/cat-blue.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.cat-div {
    margin-left: 200px;
    margin-top: 50px;
    width: 720px;
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid #fafafa;
}

.our-cats-key {
    text-align: right;
}

.our-cats-value {
    text-align: left;
}

#our-cats div h3 {
    text-align: left;
}

.our-cats-img {
    width: 700px;
    height: auto;
}

.our-cats-grid-div {
    min-width: 100px;
    padding-left: 70px;
    padding-right: 70px;
}

/* ---------------------- Adopt */

#adopt{
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 20px;
}

#hero-image-adopt { 
    height:600px;
    width: 100%;
    background: url("/assets/images/cat-green.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.adopt-section {
    clear: left;
    /* background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    height: 1000px;
    /* width: 1000px; */
}

.adopt-form {
    margin-top: 80px;
    color: #fafafa;
    background-color: #222222;
    max-width: 667px;
    position: absolute;
    left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    /* margin: auto; */
}

#adopt-form h2 {
    margin-bottom: 20px;;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #7BB764;
}

.adopt-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #7BB764;
    color: #fafafa;
    display: block;
}

.adopt-button:hover {
    background-color:#fafafa;
    color:#7BB764;
}

/* Footer */

.social-networks {
    background-color: #222222;
    color: #fafafa;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
  
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 0%;
    padding: 2%;
    color: #fafafa;
}

